
@import './../../../../../variable.scss';
ul {
    text-align: center;
  }
  ::ng-deep .apexcharts-toolbar{
    display: none !important;
  }
  .inner{
    background: #FFFFFF;
  }
  .graphbg{
    background: #FFFFFF;
    border: none;
    border-radius: 5px;

  }
  ::ng-deep.mat-tab-label{
    min-width: 50px !important;
  }
 

  ::ng-deep mat-tab-header {
    align-self: end;
  }

.tabheading{
  position: absolute;
  bottom: 54%;
  font-size: 13px;
  font-family: $bold;
  font-weight: 500;
  color:#000000;
  padding-top: 18px;
}
.main-heading{

}
.maintab{
position: relative;

  overflow-y: hidden !important;
  overflow-x: hidden !important;
  ::ng-deep .mat-tab-body-content{
    
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  }

  ::ng-deep .mat-tab-label{
    color:#4b4a4a!important;
    font-size: 12px;
    font-family: $semibold;
    font-weight: 500;
  }
  ::ng-deep .mat-tab-label-active{
    color:rgb(4, 106, 249) !important;
    opacity: 1.6 !important;
    font-size: 12px;
  font-family: $semibold;
  font-weight: 500;


  }
  ::ng-deep .mat-tab-header {
    border-bottom: none;
}

}